.warning {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 12px;
  font-weight: 700;
  color: rgb(199, 0, 0);
}

.local {
  position: fixed;
  right: 0;
  color: white;
  background-color: brown;
}
