.select {
  padding: 10px 20px;
  text-align: center;
  border: 3px solid transparent;
}

.select:hover,
.select:active {
  border: 3px solid teal;
}

.name {
  margin-right: 10px;
  font-size: 1.25em;
}
